<%- include("partials/header") %>

<main>

<h1><%= title %></h1>

<p>Current Service Projects</p>

<ul>
    <li>Community Food Drive</li>
    <li>Neighborhood Cleanup</li>
    <li>Park Restoration</li>
    <li>School Supply Donation</li>
</ul>

</main>

<%- include("partials/footer") %>