<!DOCTYPE html>
<html lang="en="width=device-width, initial-scale=1.0"><html lang="en">
    <title><%= title %></title>
    /css/main.css
</head>
<body>
    <nav>
        <ul>
            <li>/Home</a></li>
            <li>/organizations</li>
            <li>/projects</li>
        </ul>
    </nav>
<head>
    <meta charset="UTF-8">
